* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #3867d6;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#btn-conatiner {
  display: flex;
}
#card {
  margin-top: 10px;
  padding: 10px;
  width: 380px;
  height: 120px;
  background-color: white;
}

#card img {
  height: 100px;
  border-radius: 60%;
  object-fit: cover;
}

#All {
  position: relative;
  left: 110px;
  bottom: 100px;
}

#Add {
  text-decoration: none;
  padding: 12px 12px;
  background-color: blue;
  color: white;
  position: relative;
  top: 10px;
  border-radius: 10px;
}

#Remove {
  text-decoration: none;
  padding: 12px 12px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  left: 10px;
  top: 10px;
}

#cancel {
  padding: 12px 100px;
  background-color: white;
  position: relative;
  right: 10px;
  top: 10px;
  border-radius: 20px;
  display: none;
}

/* this is card2 */
#btn-conatiner {
  display: flex;
}
#card2 {
  margin-top: 10px;
  padding: 10px;
  width: 380px;
  height: 120px;
  background-color: white;
}

#card2 img {
  height: 100px;
  border-radius: 60%;
  object-fit: cover;
}

#All2 {
  position: relative;
  left: 110px;
  bottom: 100px;
}

#Add2 {
  text-decoration: none;
  padding: 12px 12px;
  background-color: blue;
  color: white;
  position: relative;
  top: 10px;
  border-radius: 10px;
}

#Remove2 {
  text-decoration: none;
  padding: 12px 12px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  left: 10px;
  top: 10px;
}

#cancel2 {
  padding: 12px 100px;
  background-color: white;
  position: relative;
  right: 10px;
  top: 10px;
  border-radius: 20px;
  display: none;
}

/* this is card3 */
#btn-conatiner {
  display: flex;
}
#card3 {
  margin-top: 10px;
  padding: 10px;
  width: 380px;
  height: 120px;
  background-color: white;
}

#card3 img {
  height: 100px;
  border-radius: 60%;
  object-fit: cover;
}

#All3 {
  position: relative;
  left: 110px;
  bottom: 100px;
}

#Add3 {
  text-decoration: none;
  padding: 12px 12px;
  background-color: blue;
  color: white;
  position: relative;
  top: 10px;
  border-radius: 10px;
}

#Remove3 {
  text-decoration: none;
  padding: 12px 12px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  left: 10px;
  top: 10px;
}

#cancel3 {
  padding: 12px 100px;
  background-color: white;
  position: relative;
  right: 10px;
  top: 10px;
  border-radius: 20px;
  display: none;
}

/* this is card4 */
#btn-conatiner {
  display: flex;
}
#card4 {
  margin-top: 10px;
  padding: 10px;
  width: 380px;
  height: 120px;
  background-color: white;
}

#card4 img {
  height: 100px;
  border-radius: 60%;
  object-fit: cover;
}

#All4 {
  position: relative;
  left: 110px;
  bottom: 100px;
}

#Add4 {
  text-decoration: none;
  padding: 12px 12px;
  background-color: blue;
  color: white;
  position: relative;
  top: 10px;
  border-radius: 10px;
}

#Remove4 {
  text-decoration: none;
  padding: 12px 12px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  left: 10px;
  top: 10px;
}

#cancel4 {
  padding: 12px 100px;
  background-color: white;
  position: relative;
  right: 10px;
  top: 10px;
  border-radius: 20px;
  display: none;
}
